*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.box{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 70vw;
    height: 50vh;
    display: flex;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 80%;
    height: auto;
}

.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pad: 0 15px 0 15px;
    padding-bottom: 55px;
}

header{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 40px 0 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0 0 0 30px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.1px rgba(54, 54, 54, 0.5) solid;
}

i{
    position: relative;
    top: -29px;
    left: 10px;
    width: 16px;
}

::-webkit-input-placeholder{
    color: black;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 40px;
    outline: none;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.1px rgba(54, 54, 54, 0.5) solid;
    cursor: pointer;
    transition: .3s;

}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,240, 240, 0.2);
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
    
}

.esquerda{
    display: flex;
    padding-left: 10px;
}

label a{
    color: black;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 12px;
}

.direita .labesquerda{
    border-radius: 20px 0 0 20px;
}

.direita .labdireita{
    border-radius: 0px 20px 20px 0px;
}

.labesquerda:hover{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    transition: 2s;
}

.labdireita:hover{
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    transition: 2s;
}

@media screen and (max-width: 850px) {

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 850px) {
    
}